@charset "ISO-8859-1";



body {
    background-color: rgb(230, 229, 229);
}

h1 , h2 , h3 , h4 , h6 , h5 {
    color: #000;
}

header{
    margin-right: 0px;
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0.5)) , url('../images/header_w.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

header .header-content{
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table, th, td {
  border: 1px solid black;
}